<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>HMM词性标注</title>
</head>
<body>
    <h2>
        <img alt="Lyt" class="Lyt" src="{{ url_for('static', filename='icon.jpg') }}">
        HMM词性标注工具
    </h2>
    <nav style="height: 40px;background-color: black;">
    </nav>
    <form method="post">  <!-- 指定提交方法为 POST -->
        <div id="title">请输入句子：</div>
        <textarea name="sentence" id="sentence">Today is a good day .</textarea>
        <input type="submit" name="submit" value="确定">  <!-- 提交按钮 -->
    </form>
    {% if flag==1 %}
    <div id="title">分析的结果：</div>
    <div class="result-list">

        
        <div class="word">
            word
            <div class="tag">
                tag
            </div>
        </div>
        {% for i in range(length) %}
        <div class="word">
            {{ words[i] }}
            <div class="tag">
                {{ tags[i] }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if flag==0 %}
            <div id="title">包含生词，请换一个句子！</div>
        {% endif %}

    </div>
</body>
</html>